body{
    text-align: center;
}

.btn{
    height: 170px;
    width: 170px;
    border:6px solid black ;
    margin: 1rem;
    border-radius: 20%;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: orange;
}

.skyblue{
    background-color: aqua;
}

.green{
    background-color: greenyellow;
}

.purple{
    background-color: plum;
}

.flash{
    background-color: white;
}

.userFlash {
    background-color: blue;
}